.detailed-quiz-box {
  height: 400px;
  width: 600px;
  flex-direction: column;
  justify-content: space-between; /* Ensures the first child is at the top and the last child is at the bottom */
  align-items: center;
  margin: 20px;
  background-color: #1c1e22;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.detailed-quiz-box h1 {
  font-size: 30px;
  margin-bottom: 10px; /* Reduced margin to tighten up the layout */
}

.detailed-quiz-box h2 {
  margin-top: 20px; /* Consistent margin for visual separation */
}

/* Styling for BeamInput to match GradientShadowButton */
.beam-input-container {
  display: flex;
  justify-content: center;
  padding: 20px 0; /* Padding top and bottom for spacing */
  width: 100%;
  margin-top: 50px;
}
